@import '../../assets/styles/Vars.scss';

.container{
  display: grid;
  justify-content: center;
  align-items: center;
  grid-auto-columns: 100%;
  margin: 0px;
  border-radius: 30px;
}

.header_m{
  display: grid;
  grid-template-columns: 20% 50% 30%;
}

.Arrow__back,
.step__step,
.ingredients{
  display: flex;
  justify-content: center;
  align-items: center;
}

.instruction__pic{
display: flex;
justify-content: center;

}

.instruction__pic img {
  width: 100%;
  height:100%;
  box-shadow: -2px 33px 48px -11px rgba(178,109,222,1);
  margin-top: -60px;
}

.instructions{
  background-color: #D8B9EB;
  padding: 3px 10px;
}

.instruction p{
  margin: 0px 10px;
  padding-top: 10px;
}

@media screen and (min-width:600px) {
  .instruction__pic img {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .instruction__pic img {
    width: 80%;
    height: 80%;
    box-shadow: none;
  }

  .instruction__pic  {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .instructions{
    display: flex;
    justify-content: center;
    padding: 0px 10px;
  }
}

@media screen and (min-width:800px) {
  .instruction__pic img {
    height: 100%;
  }

  .instructions{
    background: none;
  }
}


@media screen and (min-width:1000px) {

  .header_m{
    grid-template-columns: 95% 5%;
  }

  .instruction__pic img {
    height: 120%;
  }

  .container{
    display: grid;
    grid-template-rows: 3em 1fr;
    margin-left: 80px;
    margin-right: 80px;
  }

  .content{
    display: grid;
    grid-template-columns: 50% 50%;
  }

  .Arrow__back{
    display: none;
  }

  .instructions{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
  }
}
