@import '../../assets/styles/Vars.scss';

.body{
  display: grid;
  justify-content: center;
  align-items: center;
}

.recipe_header_m{
  display: grid;
  grid-template-columns: 20% 80%;
  height: 3.4em;
}

.Arrow__back_recipe{
  display: flex;
  justify-content: center;
  align-items: center;
}

.inf-box{
  margin-top: -25px;
}

.stars{
  margin-top: 5px;
}

.button-primary {
  box-sizing: border-box;
  background-color: $color-background-button;
  color: $color-letter;
  height: 40px;
  border: none;
  border-radius: 20px;
  padding: 0px 15px;
  outline: none;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}

.container_recipe{
  background-color: $color-background-pic;

  width: 100%;
  align-self: center;

  display:grid;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  justify-content: center;

  .container_recipe__header{

    position: relative;

    .main__food{
      background-color:$color-background-pic;
      display: flex;
      align-items: center;
      justify-content: center;

      img{
        width: 80%;
        height: 80%;
      }
    }

    .step_like{
      margin-top: -23px;
      position: absolute;
      width: 100%;
      display:flex;
      flex-wrap: nowrap;
      flex-direction: row-reverse;

      .corazon button{
        border-radius: 25px;
        width: 40px;
        height: 40px;
        background-color: $color-background-like;
        padding: 0px;
        margin: 0px 50px 0px 10px;
        outline: none;
        border: none;
      }

      .corazon img {
        width: 30px;
        height: 30px;
        padding-left: 5px;
        margin: 0px;
        padding-top: 4px;
      }

      .step-by-step button{
        background-color: $color-background-button-second;
      }
    }
  }

  .food-info{
    padding:  10px 25px;

    align-self: center;

    display:flex;
    flex-direction: column;
    border-radius: 20px;

    background-color: $color-background-general;

    .recipe_title{
      margin-bottom: 15px;
    }

    .div-button-buy{
      margin-top:20px;
    }
  }
}

.react-tabs__tab-list  ul{
  display: grid;
}



@media screen and (min-width: 765px) {
  .main__food img{
    width:600px;
    height: 600px;
  }

  .iinstructions{
    justify-content: flex-start;
  }

  .react-tabs__tab-list  ul{
    display: block;
  }

  .container_recipe__back{
    display:none;
  }

  .main__food{
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .food-info{
    margin: 70px;
    border-radius: none;
  }
}

@media screen and (min-width: 820px) {

  .body{
    margin-left: 30px;
    margin-right: 30px;
  }

  .container_recipe{
    display: grid;
    grid-template-columns: 50% 50%;
  }

  .Arrow__back_recipe{
    display: none;
  }

.step_like{
  margin-top: -50px;
}
}

@media screen and (min-width: 950px) {

  .container_recipe{
    display: grid;
    grid-template-columns: 45% 55%;
    border-radius: 30px;
    height: 700px;
  }

.step_like{
  margin-top: -105px;
}

.main__food img {
    width: 60%;
    height: 60%;
}

}