.food__scroll {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
  justify-content: flex-start;
  align-items: stretch;
  min-height: calc(100vh - 315px);
  margin-bottom: 10px;
  margin-top: 10px;
  box-sizing: border-box;
  padding-bottom: 10px;
}