@import '../../../assets/styles/Vars.scss';

.busqueda {
  display: flex;
  box-sizing: border-box;
  padding: 0px 15px;
  margin-top: 10px;
}
.busqueda .busqueda__input {
  width: 100%;
  height: 35px;
  border-radius: 20px;
  padding: 10px;
  box-sizing: border-box;
  outline: none;
  border: 2px solid $color-letter;
  font-family: "Muli", sans-serif;
  font-size: 18px;
}