$color-background-general:#f5fafc;
$color-background-button: #1f4dec;
$color-background-button-second:#50d0e3;
$color-background-like: red;
$color-background-pic:#f8e7e9;
$color-background-pic-second:#da9f9b;
$color-background-button-th:#e4ecf8;
$color-letter:white;