@import '../assets/styles/Vars.scss';


@media screen and (min-width:760px) {
.base-container{
  background-color: $color-background-general;
}

  .base-container__header{
    background-image: url(../assets/static/background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;

    height: auto;
    max-height: 600px;
    min-height: 20vh;
    background-position: top center;

    border: 0;
    height: 30vh;
    margin: 0;
    display: flex;
    padding: 0;
    overflow: hidden;
    max-height: 1600px;
    align-items: center;
    background-size: cover;
    background-position: 50%;
    background: linear-gradient(90deg,#6F3991,#B26DDE);
  }

  .base-conatiner__color{
    content: "";
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    background: linear-gradient(90deg,#6F3991,#B26DDE);
    opacity: 0.5;
  }

  .base-container__content{
    display:flex;
    justify-content: center;
    .base-container__center{
      width: 80%;
      overflow: hidden;
      margin-top:-150px;
      z-index: 1;
      background: white;
      margin-bottom: 100px;
      border-radius: 14px;
      -webkit-box-shadow: -2px 3px 34px 0px rgba(178,109,222,0.73);
      -moz-box-shadow: -2px 3px 34px 0px rgba(178,109,222,0.73);
      box-shadow: -2px 3px 34px 0px rgba(178,109,222,0.73);
    }
  }
}

