.notfound {
  display: flex;  
  padding: 40px;
  flex-direction: column; 

  .tittle_error{   
    align-self: center;
  }

  img{
    width: 200px;
    height: 200px;
    align-self: center;
  }
}

